@import 'https://fonts.googleapis.com/css?family=Oswald|Raleway:400,700|Roboto:100';
* { margin:0; padding:0; box-sizing:border-box; }
body {
	color: #222;
	font-family: Gotham, sans-serif;
}
main{
	margin: 0 auto;
	width: 78%;
}

.image { 
   position: relative; 
   width: 100%;
   margin-bottom: .5em;
}

h1 { 
   position: absolute; 
   font-size: 5em;
   top: 5%; 
   left: 0; 
   width: 80%; 
   line-height: 1.145em;
}

h1 span { 
   color: white; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.8);
}

#featurestory {
	color: white;
	margin-left: 7%;
   	text-align: left;
   	text-decoration: none;
}

h1 span:hover {
	background: rgba(0, 0, 0, 1);
	color: lightgrey;
}

#featuredfirm {
	color: lightgrey;
	font-size: 
	font-family: sans-serif;
	position: absolute;
	top: 45%; 
	margin-left: 7%;
	text-decoration: none; 
	background: rgba(0, 0, 0, 0.8);
}

#featuredfirm:hover {
	color: grey;
	background: rgba(0, 0, 0, 1);

}

h2 {
	font-family: serif;
	font-size: 1.5em;
	font-weight: 400;
	text-transform: none;
	color: navy;
	padding-bottom: .5em;
}

p {
	line-height: 1.5em;
}

section {
	width: 78%
	text-align: center
}
header > a {
	display: inline-block;
}
header {
	text-align: center;
}

nav {
	display: inline-block;
	background-color: white;
}

nav a:hover {
	color: black;
}

nav a:link {
	text-decoration: none;
}

nav a: visited {
    text-decoration: none;
}

a:active {
    color: white;
}

nav a {
    display: inline-block;
    color: grey;
    margin-right: 10px;
    margin-left: 10px;
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    text-decoration: none;

}
#featuretext {
	display: inline-block;
	text-align: left;
	width: 78%;
	margin-bottom: 5em;
}

.logo {
	color: #000;
	text-align: left;
	display: inline-block;
	font-family: Raleway, sans-serif;
	font-weight: 700;
	font-size: 1em;
	text-transform: uppercase;
	padding-top: 2em;
	padding-right: 2em;
}

#slogan {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: normal;
}

#buttons {
	float: left;
	width: 66%;
}

.middlenav {
	float: left;
	padding: none;
}

#headline {
	text-decoration: none;
	color: navy 
}

#headline:hover {
	color: lightgrey;
}

.buttoncolumn {
	width: 66%;
	padding: 0px;
}

#aside {
	width: 33.3%;
	float: right;
	text-align: left;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 49%;
  left: 0;
  position: relative;
  top: 0;
  width: 49%;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 49%;
  left: 0;
  position: relative;
  top: 0;
  width: 49%;
  opacity: 0;
}

ul.buttoncolumn li:hover span.text-content {
  opacity: 1;
}

li {
  float: left;
  width: 47%;
  margin: 1%;
  height: 18em;
  outline: 3px solid #222;
  text-align: center;
  line-height: 17em;
  list-style-type: none;
  color: #000;
  background: #fff;
  text-decoration: none;
}

li:hover {
	color: 
}

footer {
	background-color: grey;
	width: 78%;
	height: 150px;
	margin: 0 auto;
	clear:both;
}

#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: #E582A2;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
    text-align: left;
}

#right {
    background-color: #E55B88;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 62%;
    text-align: left;
}

article {
	display: inline-block;
	margin-top: 20px;
	width: 100%;
	float: left;
}

#small1 {
	width: 33%;
	float: left;
	margin-top: 3%;
	padding-right: 1%
}

#small2 {
	width: 34%;
	float: left;
	padding-left: 1%;
	padding-right: 1%;
	margin-top: 3%;
	border-right-style: solid;
	border-left-style: solid;
	border-width: 1px;
	border-color: lightgrey;
}

#small3 {
	width: 33%;
	float: left;
	margin-top: 3%;
	padding-left: 1%
}

#topstory {
	display: inline-block;
	padding-right: 2%;
	padding-top: 10%
	padding-bottom: 2%;
}

#dateline {
	text-align: left;
	font-size: .7em;
	color: grey;
}

#readmore {
	color: navy;
	text-decoration: none;
	font-size: .7em;
}

#readmore:hover {
	color: lightgrey;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

@media only screen and (max-width: 1020px) {
nav {
	float: none;
	background: orange;
}

nav a {
    margin: 0 1.6em .75em 0;
}

li {
  float: left;
  width: 100%;
  margin: 1%;
  height: 3em;
  outline: 3px solid #222;
  text-align: center;
  line-height: 3em;
  list-style-type: none;
  color: #000;
  background: #fff;
  text-decoration: none;
}
}

@media only screen and (max-width: 890px) {
nav {
	float: none;
	background: none;
	}
}

@media only screen and (max-width: 740px) {
nav {
    display: block;
	float: none;
	background: ;
	}

#splash {
	background: url("http://liveincontainer.com/wp-content/uploads/2015/01/ContainersofHope_061.jpg");
	margin: 0 auto;
	background-size: 100%;
	width: 100%;
}

#about {
	text-align: center;
	display: inline-block;
	float: none;
	width: 100%;
	padding: 50px;
	background-color: grey;
	}

article {
	background-color: #E89C6C;
	margin-top: 20px;
	width: 100%;
}

main{
	margin: 0 auto;
	width: 100%;
	background-color: beige;
}